<section class="books">
  <div class="container">

    <div class="books__header">
      <h2 class="books__title">Livros Publicados</h2>
      <span class="books__divider section__divider"></span>
    </div>

    <div class="books__grid">

      <article class="book-card">
        <a href="#">
          <img src="{{asset 'images/livro-01.jpg'}}" alt="Livro" />
        </a>

        <div class="book-card__content">
          <h3 class="book-card__title">
            Inovação e Desenvolvimento Regionaal: A experiência do programa
            Celso Furtado
          </h3>

          <span class="book-card__author">
            Celso Furtado
          </span>
        </div>
      </article>

      <article class="book-card">
        <a href="#">
          <img src="{{asset 'images/livro-02.jpg'}}" alt="Livro" />
        </a>

        <div class="book-card__content">
          <h3 class="book-card__title">
            Dossiê Celso Furtado: O Ares do mundo - Escola, Criatividade e
            Desenvolvimento Regonal
          </h3>

          <span class="book-card__author">
            Celso Furtado
          </span>
        </div>
      </article>

    </div>

    <div class="books__footer">
      <a href="/livros/" class="books__button btn btn--primary">
        Ver todos os livros
      </a>
    </div>

  </div>
</section>