<section class="references">

  <div class="container">

    <div class="references__header">
      <h2 class="references__title">
        Material de Referência
      </h2>

      <span class="references__divider section__divider"></span>
    </div>

    <div class="references__grid">

      <a href="#" class="references__card">

        <div class="references__icon">
          <img src="{{asset 'images/prancheta.png'}}" alt="PDF" />
        </div>

        <div class="references__content">
          <h3>PDF / Relatório</h3>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>

      </a>

      <a href="#" class="references__card">

        <div class="references__icon">
          <img src="{{asset 'images/lei.png'}}" alt="Legislação" />
        </div>

        <div class="references__content">
          <h3>Legislação</h3>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>

      </a>

      <a href="#" class="references__card">

        <div class="references__icon">
          <img src="{{asset 'images/contente.png'}}" alt="Artigos" />
        </div>

        <div class="references__content">
          <h3>Artigos / Estudos</h3>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>

      </a>

    </div>

    <div class="references__footer">

      <a href="#" class="references__button btn btn--primary">
        Acessar todos os materiais
      </a>

    </div>

  </div>

</section>