{{!< default}}

{{#post}}

  <section class="internal-page">

    <div class="container">

      <header class="internal-page__header">

        <h1>{{title}}</h1>

        {{#if custom_excerpt}}
          <p>{{custom_excerpt}}</p>
        {{/if}}

      </header>

      <article class="internal-page__content">

        {{content}}

      </article>

    </div>

  </section>

{{/post}}